html{
    background: rgba(190, 192, 255);
}

body{
    max-width: 1400px;
    margin: auto;
    font-family: sans-serif;

}
img{
    position: marker;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
}

.navbutton{
    color: white;
    font-size: 20px;
    background-color: rgba(3, 3, 133, 0.7);
    border: 1px solid black;
    padding: 2px;
    width: 350px;
    text-align: center;
}

.postview {
    border-bottom-style: solid;
    border-color: grey;
    border-width: 1px;
}
p{
    line-height: 1.6;
}
footer{
    background-color: rgba(3, 3, 133, 0.7);
    position: static;
}




